<!DOCTYPE html>
{% load static %}

<html> 
        <header>
            <div class="box-img-header">
                <a href="/" class="nav-links"><img class = "img-logo" src="{% static 'images/logo.png' %}" alt="Logo JHS"></a>
            </div>
            <nav>
                <a href="/curriculo" class="nav-links">Curriculo</a>
                <a href="/blog" class="nav-links">Blog</a>
            </nav>
            <div class="box-btn-actions">
                <button class ="btn-actions">Cadastrar</button>
                <button class ="btn-actions">Entrar</button>
            </div>
        </header>
</html>